HeaderFilterRegex: 'src/*$'

# After applying fixes, format the code using the .clang-format file provided in this workspace.
FormatStyle: file

Checks: >-
    -clang-analyzer-*,
    readability-identifier-naming,
    readability-braces-around-statements


WarningsAsErrors: >-
    readability-identifier-naming,
    readability-braces-around-statements


CheckOptions:
# Classes, structs, ...
  - key:    readability-identifier-naming.NamespaceCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.StructCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.UnionCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypedefCase
    value:  CamelCase
  - key:    readability-identifier-naming.MacroDefinitionCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.TypedefCase
    value:  AnyCase
    

# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  camelBack
  - key:    readability-identifier-naming.VariableCase
    value:  camelBack
  - key:    readability-identifier-naming.MemberCase
    value:  camelBack
  - key:    readability-identifier-naming.PublicMemberCase
    value:  camelBack
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  camelBack
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  camelBack


# Functions, methods, ...
  - key:    readability-identifier-naming.FunctionCase
    value:  camelBack
  - key:    readability-identifier-naming.MethodCase
    value:  camelBack

# Constants
  - key:    readability-identifier-naming.ConstantPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantCase
    value:  camelBack
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.ConstantPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantMemberPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantMemberCase
    value:  camelBack
  - key:    readability-identifier-naming.ConstantParameterCase
    value:  camelBack
  - key:    readability-identifier-naming.ConstantParameterPrefix
    value:  ''
